.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}
.para{
  color: rgb(248, 246, 246);
  text-align: center;
  background-color: rgb(0, 0, 255,0.5);
  padding:30px;
  margin: 20px 100px 20px 100px;
  transition-duration: 2s;
  font-size: medium;
}